geopy==2.3.0
geographiclib==2.0
geopandas==0.13.2
matplotlib==3.5.2
numpy==1.24.4
pandas==2.0.3
pyquaternion==0.9.9
rdflib==6.3.2
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
scikit-learn==1.3.0
shapely==1.8.5
torch==2.1.0
torch-geometric==2.3.1
torchaudio==2.1.0
torchmetrics==1.0.1
torchsummary==1.5.1
torchvision==0.16.0
tqdm==4.65.0
transformers @ git+https://github.com/huggingface/transformers.git@b8f1cde931392551f74a9abef5d2724c3cbc2208
nuscenes-devkit==1.1.10
sentencepiece==0.1.99